{% extends 'base.html'%}
{% load custom_filters %}
{% block content %}

<div class="pb-5 " style= " display: flex; align-items: center; background-color: rgba(46, 44, 44, 0.156) ; margin:0px; padding: 0px; border-top: 2REM; border-bottom: 0REM; border-right: 0px; border-right: 0px;  border-color: rgb(33,37,41); border-style: solid;">
    <div class="container" style=" display: flex; align-items: center; justify-content: center;">
        <!-- Wrapper para layout flexível -->
        
        <div class="d-flex flex-column h-100 fs-3" style="max-width: 75%;">
            <!-- Product image-->
            <div class="container ">
                <img class="card-img-top mt-5 heigth-100" src="{{ product.image.url }}" alt="..." />
            </div>
            <!-- Product details-->
            <div class="card-body p-3 d-flex flex-column">
                <div class="text-center text-sm-start text-md-center flex-grow-1">
                    <!-- Product name-->
                    <h5 class="fs-3 fw-bolder ">{{ product.name }}</h5>
                    <!-- Product description-->
            
                        <p class=" fs-5 mb-2">{{ product.description }}</p>

                    <!-- Product price-->
                    {% if product.is_discount %}
                        <span class=" fs-3 text-decoration-line-through ">R$ {{ product.price|replace_comma }}</span>
                        <span class="fs-3 fw-bold ms-2 small">R$ {{ product.sale_price|replace_comma }}</span>
                    {% else %}
                        <span class=" fs-3 fw-bold small">R$ {{ product.price|replace_comma }}</span>
                    {% endif %}
                </div>
                    
                <!-- Product actions-->
                <div class="mt-auto pt-3">
                    {% if product.is_sale %}
                    <div class="d-flex gap-2 justify-content-sm-start justify-content-center justify-content-md-center flex-wrap">
                        <a class="btn btn-outline-dark btn-sm" href="#">Add cart</a>
                    </div>
                    {% else %}
                    <div class="text-center">
                        <p class="mb-1 h6">Esgotado!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}