{% extends 'base.html'%}
{% block content %}

{% load static %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-5 fw-bolder">Registre-se </h1>        
        </div>
    </div>
</header>
<section class="vh-100 container text-center justify-content-center ">

    <div class="container text-center">
        <div class="justify-content-center text-center">
            <div class="col-50 container  text-center">
                <br />
                <br />
                <form method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h2 class="card-title text-center mb-4">Criar Conta</h2>
                                        {{ form.as_p }}
                                        <div class="d-grid gap-2">
                                            <button type="submit" class="btn btn-primary">
                                                Cadastrar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>


{% endblock %} 